################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/terminal.fa0770df/x64/Debug
/x64/Debug
/x64/Release
/terminal.fa0770df/x64/Release
/common/x64/Debug
/common/x64/Release
/terminal-controls/x64/Debug
/terminal-controls/x64/Release
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
/tests/common-tests/x64/Debug
/tests/common-tests/x64/Release
/demo/x64/Debug
/demo/x64/Release
/terminal-calendar/x64/Debug
