################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/terminal.fa0770df/x64
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
/tests/common-tests/x64
/demo/x64
/terminal-calendar/x64
/libs/utils/x64
/libs/common/x64
/libs/terminal-controls/x64
