################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/terminal.fa0770df/x64/Debug
/x64/Debug
/x64/Release
/terminal.fa0770df/x64/Release
/common/x64/Debug
/common/x64/Release
/terminal-controls/x64/Debug
